# BROWSER
# chrome
# firefox
# safari
BROWSER=chrome

#RUN BROWSER AS INCOGNITO/PRIVATE MODE = yes or no
PRIVATE=no

#ENVIRONMENT_SETUP = PROD, STAGING, DEV
TARGET=dev

#RUN AS HEADLESS = yes or no
HEADLESS=no

#DEFAULT RESOLUTION FOR MWEB
MWEB_WIDTH=411
MWEB_HEIGHT=823
